<ion-view view-title="RideDetails">
    <ion-content>
        <div ng-hide="RideDetails" class="loading-spinner"><ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner></div>
        <ion-list ng-show="RideDetails">
            <ion-item class="card">
                <div class="item bar bar-header">
                    <a class="title">
                        Details for Selected Ride
                    </a>
                </div>
                <div class="item item-divider">
                    <h2 class="font-weight">Name : </h2><h4>{{RideDetails.name}}</h4>
                </div>
                <div class="item item-divider">
                    <h2 class="font-weight">From Location : </h2><h4>{{RideDetails.Origin}}</h4>
                </div>
                <div class="item item-divider">
                    <h2 class="font-weight">To Location : </h2><h4>{{RideDetails.Destination}}</h4>
                </div>
                <div class="item item-divider">
                    <h2 class="font-weight">Departure Date : </h2><h4>{{RideDetails.DateofJourney}}</h4>
                </div>
                <div class="item item-divider">
                    <h2 class="font-weight">Departure Time : </h2><h4>{{RideDetails.Timeofjourney}}</h4>
                </div>
                <div class="item item-divider">
                    <a ng-href="tel:{{RideDetails.mobile}}" class="button button-small icon-left ion-ios-telephone">Call</a>
                    <a ng-href="mailto:{{RideDetails.email}}" class="button button-small icon-left ion-email">Email</a>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>